
<mat-toolbar color="primary">
  <nav class="nav container">
      <div>
        <button mat-flat-button color="primary"><mat-icon fontIcon="home"></mat-icon>Housing</button>
      </div>
      @if (this.isAuthenticated){
        <div>
            <a mat-flat-button color="primary" routerLink="/producto/productos" routerLinkActive="active" ariaCurrentWhenActive="page">Productos</a>
            <button mat-flat-button color="primary" routerLink="/reserva/reservas" routerLinkActive="active" ariaCurrentWhenActive="page">Reservas</button>
        </div>
      }
      <div>
          @if (this.isAuthenticated) {
              <button mat-flat-button disabled class="item-nav">{{currentUserLogin?.name}}</button>
              <button mat-flat-button color="warn" class="item-nav" (click)="logout()" routerLink="/">
                  <mat-icon fontIcon="logout"></mat-icon> Salir
              </button>
          } @else {
              <button mat-flat-button color="accent" routerLink="/auth">
                <mat-icon fontIcon="login"></mat-icon> Ingresar
              </button>
          }
      </div>
  </nav>

</mat-toolbar>


<main class="container">

  <div>
      <router-outlet></router-outlet>
  </div>

</main>

<mat-toolbar color="primary">
  <div class="container">
      <h3>Footer</h3>
  </div>
</mat-toolbar>
