<h1>{{title}}</h1>
<p>reserva works!</p>

<div>
    <button type="button" routerLink="/producto/nuevo">
        Agregar nuevo
    </button>

</div>

<ul>
    @for (item of reservasList; track $index){
        <div class="flexbox">
            <div>
                <h3>{{item.id}}</h3>
                <p>Cliente: {{item.cliente}}</p>
            </div>
            <div>
                <h3>Estado: {{item.estadoReserva}}</h3>
                <button>Reservar</button>
            </div>
        </div>
        <hr>
    }
</ul>