<button mat-raised-button color="primary" (click)="navegarAtras()"><mat-icon fontIcon="arrow_back"></mat-icon>Volver</button>
<br>
<br>
<div class="flexbox">
    <span>
        <img style="max-width: 400px; border-radius: 15px;" src="{{productoObtenido.urlImagen}}" alt="Imagen">
    </span>
    <div>
        <h2>{{this.productoObtenido.codigo}}</h2>
        <p>Barrio: {{this.productoObtenido.barrio.nombre}} | Estado: {{mostrarEstado(this.productoObtenido.estado)}}</p>
        <p>Precio: {{this.productoObtenido.precio}}</p>
    </div>
    <div>
        <button mat-raised-button color="primary">Reservar</button>
        <button mat-raised-button>Editar</button>
        <button mat-raised-button color="warn">Eliminar</button>
    </div>
</div>