<button mat-raised-button color="primary" (click)="navegarAtras()"><mat-icon fontIcon="arrow_back"></mat-icon>Volver</button>
<br>
<br>
<div class="flexbox">
    <span>
        <img class="imagen" *ngIf="(productoObtenido.urlImagen != ' ')" src="{{productoObtenido.urlImagen}}" alt="Imagen">
        <img class="imagen" *ngIf="(productoObtenido.urlImagen == ' ')" src="https://image.pngaaa.com/700/5273700-middle.png" alt="Imagen">
    </span>
    <div>
        <h2>{{this.productoObtenido.codigo}}</h2>
        <p>Barrio: {{this.productoObtenido.barrio.nombre}}</p>
        <p>Estado: {{mostrarEstado(this.productoObtenido.estado)}}</p>
        <p>Precio: {{this.productoObtenido.precio | currency}}</p>
    </div>
    <div>
        <a [disabled]="productoObtenido.estado != 0" [routerLink]="['/reserva/nueva', productoObtenido.idProducto]" class="button-container" mat-raised-button color="primary">Reservar</a>
        <a [routerLink]="['/producto/editar', productoObtenido.idProducto]" class="button-container" mat-raised-button color="accent">Editar</a>
        <button class="button-container" mat-raised-button color="warn" (click)="eliminarProducto(productoObtenido.idProducto)">Eliminar</button>
    </div>
</div>