<button mat-raised-button color="primary" (click)="navegarAtras()"><mat-icon fontIcon="arrow_back"></mat-icon>Volver</button>
<br>
<br>
<h1>Editar Producto</h1>
<mat-divider></mat-divider>
<h3>Modifique los datos del producto: </h3>
<br>
<form [formGroup]="productoForm" (ngSubmit)="editarProducto()" class="login-form">
  <div>
    <mat-form-field class="item-login-form">
      <mat-label>Código del producto:</mat-label>
      <input matInput id="codigo" type="text" formControlName="codigo" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field formGroupName="barrio" class="item-login-form">
      <mat-label >Barrio:</mat-label>
      <input matInput id="barrio" type="text" formControlName="nombre" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="item-login-form">
      <mat-label>Precio:</mat-label>
      <input matInput id="precio" type="number" formControlName="precio" required/>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="item-login-form">
      <mat-label>Imagen:</mat-label>
      <input matInput id="urlImagen" type="text" formControlName="urlImagen" required/>
    </mat-form-field>
  </div>

  <br>
  <div>
    <p ngClass="status-{{mostrarEstado(productoAEditar.estado)}}">El estado actual de este producto es: {{mostrarEstado(productoAEditar.estado)}}</p>
  </div>

  <div class="button-container">
    <button type="submit" mat-raised-button color="primary">
      Editar producto
    </button>
  </div>
</form>
